<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">


	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/house?characterEncoding=utf-8">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/hbm/HouseInfo.hbm.xml</value>
				<value>com/hbm/UserInfo.hbm.xml</value>
				<value>com/hbm/ReserveInfo.hbm.xml</value>
				<value>com/hbm/Ding.hbm.xml</value></list>
		</property>
	</bean>

	<!-- action -->
	<bean id="houseAction" class="com.action.HouseAction">
		<property name="houseDao" ref="houseDao"></property>
	</bean>
	<bean id="userAction" class="com.action.UserAction">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="reserveAction" class="com.action.ReserveAction">
		<property name="reserveDao" ref="reserveDao"></property>
	</bean>
	<bean id="dingAction" class="com.action.DingAction">
		<property name="dingDao" ref="dingDao"></property>
	</bean>





	<!-- dao -->
	<bean id="houseDao" class="com.dao.HouseDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="userDao" class="com.dao.UserDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="reserveDao" class="com.dao.ReserveDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="dingDao" class="com.dao.DingDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
</beans>